@layer base {
  @font-face {
    font-family: 'GT America Medium';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/GT America/GT-America-Standard-Medium.woff')
        format('woff'),
      url('../../fonts/GT America/GT-America-Standard-Medium.woff2')
        format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'GT America Medium Italic';
    font-weight: 500;
    font-style: italic;
    src: url('../../fonts/GT America/GT-America-Standard-Medium-Italic.woff')
        format('woff'),
      url('../../fonts/GT America/GT-America-Standard-Medium-Italic.woff2')
        format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'GT America';
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/GT America/GT-America-Standard-Regular.woff')
        format('woff'),
      url('../../fonts/GT America/GT-America-Standard-Regular.woff2')
        format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'GT America';
    font-weight: 400;
    font-style: italic;
    src: url('../../fonts/GT America/GT-America-Standard-Regular-Italic.woff')
        format('woff'),
      url('../../fonts/GT America/GT-America-Standard-Regular-Italic.woff2')
        format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'ABC Social';
    font-weight: 400;
    font-style: regular;
    src: url('../../fonts/ABC Social/ABCSocial-Regular.woff') format('woff'),
      url('../../fonts/ABC Social/ABCSocial-Regular.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'ABC Arizona';
    font-weight: 400;
    font-style: regular;
    src: url('../../fonts/Arizona/ABCArizonaText-Regular.woff') format('woff'),
      url('../../fonts/Arizona/ABCArizonaText-Regular.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'ABC Arizona Italic';
    font-weight: 400;
    font-style: italic;
    src: url('../../fonts/Arizona/ABCArizonaText-RegularItalic.woff')
        format('woff'),
      url('../../fonts/Arizona/ABCArizonaText-RegularItalic.woff2')
        format('woff2');
    font-display: swap;
  }
  body {
    @apply font-body text-p;
  }
  main {
    @apply bg-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-darker-blue font-heading antialiased last:mb-0;
    & > {
      a {
        @apply no-underline;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }
    img {
      @apply inline-block;
    }
  }
  p,
  ul li,
  ol li {
    @apply text-darker-blue font-body antialiased last:mb-0;
  }
  h1,
  .text-h1-base {
    @apply mb-sp-5 text-h1;
    @screen lg {
      @apply mb-base5-5 text-h1-lg;
    }
    &.text-h1-display-base {
      @apply mb-base5-10 text-h1-display;
      @screen lg {
        @apply mb-base5-10 text-h1-display-lg;
      }
    }
  }
  h2,
  .text-h2-base {
    @apply text-h2 mb-base5-3 font-heading-serif;
    @screen lg {
      @apply text-h2-lg mb-base5-5;
    }
  }
  h3,
  .text-h3-base {
    @apply text-h3 mb-base5-3;
    @screen lg {
      @apply text-h3-lg mb-base5-4;
    }
  }
  h4,
  .text-h4-base {
    @apply text-h4 mb-base5-2;
    @screen lg {
      @apply text-h4-lg mb-base5-2;
    }
  }
  h5,
  .text-h5-base {
    @apply text-h5 mb-base5-1;
    @screen lg {
      @apply mb-base5-2;
    }
  }
  h6,
  .text-h5-base {
    @apply text-h6 mb-base5-1;
    @screen lg {
      @apply mb-sp-2;
    }
  }
  p,
  .text-p-base {
    @apply text-p mb-base5-4;
    @screen lg {
      @apply text-p-lg;
    }
  }
  ul,
  ol,
  .text-ul-base,
  .text-ol-base {
    @apply block pl-10 mb-base5-4 text-p;
    @screen lg {
      @apply text-p-lg;
    }
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  li {
    @apply my-1 leading-[160%] list-item;
  }
  a {
    @apply underline transition-colors duration-300 text-p text-dark-blue hover:text-dark-blue;
    @screen lg {
      @apply text-p-lg;
    }
    &.text-white {
      &:hover {
        color: #ffffff;
      }
    }
    &.text-nav-normal {
      &:hover {
        @apply text-lavender-200;
      }
    }
    &.text-nav-small {
      &:hover {
        @apply text-lavender-200;
      }
    }
  }
  .blog-3 {
    a {
      &.text-nav-normal {
        &:hover {
          @apply text-referrals-green-300;
        }
      }
      &.text-nav-small {
        &:hover {
          @apply text-referrals-green-300;
        }
      }
    }
  }
  blockquote {
    @apply py-8 my-8 border-solid border-y-4 border-purple-gradient-start mb-base5-5;
  }
  blockquote > p {
    @apply font-heading-serif text-4xl leading-10 text-dark-blue;
  }
  blockquote > p a {
    font-size: inherit;
  }
  blockquote p {
    @apply mb-0;
  }
  hr {
    @apply mb-base5-8;
  }
  img {
    /* @apply mb-10 rounded-lg; */
  }
  body {
    overflow-x: hidden;
  }
  /* Make sure embeds and iframes fit their containers. */
  embed,
  iframe,
  object {
    max-width: 100%;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  figure {
    @apply mb-base5-5;
    @screen lg {
      @apply text-p-lg;
    }
    img {
      @apply rounded-md;
    }
  }

  table {
    margin: 0 0 1.5em;
    width: 100%;
  }
  main {
    /* @apply overflow-hidden */
  }
  button,
  [type='submit'] {
    @apply bg-primary;
  }
}
