.wp-block-group {
  @apply py-sp-8 px-sp-5;
  @screen md {
    @apply py-sp-12;
  }
  @screen lg {
    @apply py-sp-16 px-sp-10;
  }
  &:not(.alignfull) {
    @apply container;
  }
}
.testimonial-padding {
  @apply py-sp-8;
  @screen md {
    @apply py-sp-12;
  }
  @screen lg {
    @apply py-sp-16;
  }
}
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}
.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}
.container-small {
  @apply max-w-[840px] mx-auto;
}
/* EDITOR */
/* .mce-content-body {
  a {
  }
} */

/* .fallback {
  @apply justify-end;
} */

/* Testimonial Block */
.swiper {
  &.swiper-testimonial {
    .swiper-wrapper {
      .swiper-slide {
        @apply opacity-30 transition-opacity duration-300;
        &.swiper-slide-active {
          @apply opacity-100;
        }
      }
    }
    .swiper-button-next-arrow,
    .swiper-button-prev-arrow {
      svg {
        rect {
          @apply transition-all duration-300;
        }
      }
      &:hover {
        svg {
          rect {
            @apply stroke-med-blue;
            stroke-opacity: 100;
          }
        }
      }
    }
    .swiper-pagination {
      @apply bg-card-border h-[2px];
      .swiper-pagination-progressbar-fill {
        @apply bg-med-blue;
      }
    }
  }
}

/* FAQ Accordion */
.faq-block {
  .accordion {
    .accordion-item {
      .accordion-header {
        .toggle {
          svg {
            @apply transition-transform duration-300;
          }
        }
        &.active {
          .toggle {
            svg {
              @apply rotate-45;
            }
          }
        }
      }
    }
  }
}
