/* *** Custom Pages *** */

.home.page {
  h1 {
    @apply text-h1-display lg:text-h1-display-lg;
  }
}

/* *** END Custom Pages *** */

.single-areas-of-care,
.single-treatment-modalities {
  .main-article-content {
    section {
      .acf-innerblocks-container {
        & > {
          img {
            @apply rounded-md;
          }
          figure {
            @apply mb-sp-6;
            @screen lg {
              @apply text-p-lg;
            }
          }
        }
      }
    }
  }
}

#articleContent {
  & > div {
    & > div {
      @apply mb-sp-6;
    }
  }
}

.testimonial-padding {
  @apply py-sp-8;
  @screen md {
    @apply py-sp-12;
  }
  @screen lg {
    @apply py-sp-16;
  }
}
.alignleft {
  @screen lg {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
}

.alignright {
  @screen lg {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}
.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}
/* EDITOR */
/* .mce-content-body {
  a {
  }
} */

/* .fallback {
  @apply justify-end;
} */

/* Swipers  */
.swiper {
  &.swiper-testimonial {
    .swiper-wrapper {
      .swiper-slide {
        @apply opacity-30 transition-opacity duration-300;
        &.swiper-slide-active {
          @apply opacity-100;
        }
      }
    }
    .swiper-button-next-arrow,
    .swiper-button-prev-arrow {
      svg {
        rect {
          @apply transition-all duration-300;
        }
      }
      &:hover {
        svg {
          rect {
            @apply stroke-med-blue;
            stroke-opacity: 100;
          }
        }
      }
    }
    .swiper-pagination {
      @apply bg-card-border h-[2px];
      .swiper-pagination-progressbar-fill {
        @apply bg-med-blue;
      }
    }
  }
  &.swiper-featured-blog {
    picture {
      @apply order-1 lg:order-2;
    }
  }
  .swiper-pagination-bullet {
    @apply bg-transparent border-2 border-med-blue opacity-100;
    &.swiper-pagination-bullet-active {
      @apply bg-med-blue;
    }
  }
  &.swiper-testimonial-carousel-big {
    .swiper-button-disabled {
      @apply opacity-20;
    }
    .swiper-pagination-bullets {
      @screen lg {
        @apply left-0 w-[initial] top-0;
      }
      @apply w-[initial] mx-sp-8 relative;
      .swiper-pagination-bullet {
        @apply bg-primary opacity-10 transition-all duration-500;
        &.swiper-pagination-bullet-active {
          @apply bg-primary opacity-100;
        }
      }
    }
  }
  &.swiper-careers-testimonial {
    .swiper-button-disabled {
      @apply opacity-20;
    }
    .swiper-slide {
      @apply opacity-50 transition-all duration-300;
      &.swiper-slide-active {
        @apply opacity-100;
      }
    }
  }
  &.swiper-blog-carousel {
    .swiper-pagination-bullet {
      @apply bg-transparent border-2 border-purple-gradient-end opacity-100;
      &.swiper-pagination-bullet-active {
        @apply bg-purple-gradient-end;
      }
    }
  }
}
/* FAQ Accordion */
.faq-block,
.toc-container,
.references-container,
.iop-overview-accordion {
  .toc-heading,
  .references-heading {
    &:hover {
      .toggle {
        svg {
          @apply -rotate-45;
        }
      }
    }
    .toggle {
      svg {
        @apply transition-transform duration-300;
      }
    }
    &.active {
      .toggle {
        svg {
          @apply rotate-45;
        }
      }
    }
  }
  .accordion-header,
  .accordion-header-iop {
    .vertical {
      @apply transition-transform duration-300 origin-center;
    }
    &.active {
      .vertical {
        @apply scale-y-0;
      }
    }
  }
}
.references-container {
  > div > div > p:last-child {
    @apply mb-0;
  }
}
/* Card Grid */
.border-gradient {
  /* @apply before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:border before:border-transparent before:box-border; */
  /* mask-composite: exclude; */
  @apply flex flex-col relative;
  &:before {
    @apply absolute top-0 left-0 right-0 bottom-0 rounded-md border border-transparent pointer-events-none;
    content: '';
    background: linear-gradient(90deg, #eadaff, #a698ff) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

/* Remove bottom margin from last element in sections */
.acf-innerblocks-container,
#articleContent .container-sm {
  & > *:last-child {
    @apply mb-0;
  }
  /* TODO Maybe? */
  /* & > *:last-child:not(h1, h2, h3, h4, h5, h6) {
    @apply mb-0;
  } */
}

.divider {
  @apply h-[1px] bg-gradient-to-r from-purple-gradient-start to-purple-gradient-end;
}
/* Footer badges */
.badges {
  a {
    img {
      @apply aspect-square object-contain w-[100px];
    }
  }
}

.footer-links {
  & > {
    a {
      @apply text-white text-h5 no-underline mb-sp-3;
    }
  }
}

.nav-logo {
  svg {
    @apply max-w-full;
  }
}

.preserve-3d {
  transform-style: preserve-3d;
}
.translate-z {
  transform: translate3d(-50%, -50%, -1px);
}

.modal-fade {
  @apply opacity-0 invisible translate-y-sp-2;
  & > {
    * {
      @apply scale-95;
    }
  }
}
.paginationjs-pages {
  ul {
    @apply flex gap-sp-4 list-none p-0 m-0;
    li {
      @apply m-0 leading-none block;
      &.J-paginationjs-page {
        @apply font-bold;
        &:not(.active) {
          @apply opacity-60 font-normal;
        }
      }
      a {
        @apply cursor-pointer no-underline;
      }
    }
  }
}
.js-tag-id {
  @apply transition-all duration-300 hover:bg-bright-teal;
  &.active {
    @apply bg-darkest-blue text-white;
  }
}

.custom-scroll {
  & > * {
    @apply mb-sp-6;
  }
  &::-webkit-scrollbar {
    @apply h-sp-2 cursor-pointer;
  }
  &::-webkit-scrollbar-track {
    @apply bg-[rgba(70,73,109,0.15)] my-sp-5 cursor-pointer;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-hover-blue cursor-pointer;
  }
}
.custom-scroll-vertical {
  & > * {
    @apply mr-sp-6;
  }
  &::-webkit-scrollbar {
    @apply w-sp-2 cursor-pointer;
  }
  &::-webkit-scrollbar-track {
    @apply bg-tag-gray ml-sp-5 cursor-pointer;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-hover-blue cursor-pointer;
  }
}

.bg-noise {
  &-purple {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1400 1400' width='1400' height='1400' opacity='0.2'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='1.1' specularExponent='20' lighting-color='%23cccccc' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='77'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='1400' height='1400' fill='transparent'%3E%3C/rect%3E%3Crect width='1400' height='1400' fill='%23cccccc' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"),
      linear-gradient(90deg, #c6aff3, #e2d3ff);
  }
  &-blue {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1400 1400' width='1400' height='1400' opacity='0.2'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='1.1' specularExponent='20' lighting-color='%23cccccc' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='77'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='1400' height='1400' fill='transparent'%3E%3C/rect%3E%3Crect width='1400' height='1400' fill='%23cccccc' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"),
      linear-gradient(90deg, #161a3d, #262e6c);
  }
  &-orange {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1400 1400' width='1400' height='1400' opacity='0.2'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='1.1' specularExponent='20' lighting-color='%23cccccc' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='77'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='1400' height='1400' fill='transparent'%3E%3C/rect%3E%3Crect width='1400' height='1400' fill='%23cccccc' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"),
      linear-gradient(90deg, #e07058, #ff9f81);
  }
}
.tabs {
  @apply p-sp-4 duration-300 cursor-pointer;
  &.active {
    @apply opacity-100;
  }
  @apply opacity-30;
}
.tab-contents {
  @apply p-sp-4 duration-1000;
  &:nth-child(1) {
    @apply opacity-100;
  }
  &.active {
    @apply block;
  }
  @apply noshow opacity-0;
  & > {
    & * {
      &:last-child {
        @apply mb-0;
      }
    }
  }
}
.carousel-content {
  & > {
    & * {
      &:last-child {
        @apply mb-0;
      }
    }
  }
}

.wp-block-cover {
  @apply mb-sp-6 rounded-md;
  @screen lg {
    @apply text-p-lg;
  }
  img {
    @apply rounded-md;
  }
}

.wp-block-image {
  &.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    box-sizing: border-box;
    transform: translateX(calc(50vw - 50%));
    max-width: 1280px;
    @apply px-sp-5 lg:px-sp-10
    /* @apply inset-x-1/2 -mx-[50vw] relative w-[1280px]; */;
  }
}
.wp-block-heading:has(img) {
  @apply flex lg:items-center items-start;
  & > img {
    @apply mr-sp-4 mt-sp-1 lg:mt-0;
  }
}

/* FORM */
.fsForm {
  .fsRowBody input[type='checkbox']:before,
  .fsRowBody input[type='checkbox']:checked:before,
  .fsRowBody input[type='radio']:before,
  .fsRowBody input[type='radio']:checked:before {
    display: block;
  }
}
/* OSANO */
.osano-cm-widget {
  display: none;
}
.osano-cm-window__dialog {
  border-top: 1px solid #212984;
}
.osano-cm-link {
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  .osano-cm-window__dialog {
    padding: 1.5rem 5rem;
  }
}

.teens-and-young-adults {
  @apply bg-[#C6AFF3] hover:brightness-110 duration-300 text-white transition-all;
}
.families-and-caregivers {
  @apply bg-[#E07058] hover:brightness-110 duration-300 text-white transition-all;
}
.providers {
  @apply bg-[#161A3D] hover:brightness-110 duration-300 text-white transition-all;
}
.teens-and-young-adults-slider {
  @apply bg-[linear-gradient(90deg,#C6AFF3,#E2D3FF)];
}
.families-and-caregivers-slider {
  @apply bg-[linear-gradient(90deg,#E07058,#FF9F81)];
}
.providers-slider {
  @apply bg-[linear-gradient(90deg,#161A3D,#262E6C)];
}

.arrow-slider {
  .arrow-slider-bg {
    @apply fill-white duration-300 transition-all;
  }
  .arrow-slider-arrow {
    @apply fill-med-blue duration-300 transition-all;
  }
  &:hover {
    .arrow-slider-bg {
      @apply fill-med-blue;
    }
    .arrow-slider-arrow {
      @apply fill-white;
    }
  }
}

mark {
  @apply py-sp-1 px-sp-3 rounded-[6px];
}

.toc-underline {
  @apply no-underline;

  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, #1d225f, #1d225f);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 700ms;
  display: inline;
  &:hover {
    background-size: 0 2px, 100% 2px;
  }
}

.toggle-button:not(.button-primary) {
  &:before {
    @apply transition-all duration-300;
  }
  &:not(.button-primary) {
    &:before {
      content: '';
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 33%,
        rgba(255, 255, 255, 0) 100%
      );
      @apply absolute -top-sp-16 left-0 w-full h-sp-16;
    }
  }
}

.margin-adjust {
  & > * {
    &:last-child {
      @apply mb-0;
    }
  }
}

.checklist {
  & > div {
    @apply rounded-md;
    &:first-child {
      @apply rounded-b-none;
      @screen lg {
        @apply rounded-b-md;
      }
    }
    &:last-child {
      @apply rounded-t-none;
      @screen lg {
        @apply rounded-t-md;
      }
    }
  }
}

.tt_name_sm img {
  @apply inline-block;
}

.osano-cm-widget {
  display: none;
}
.osano-cm-window__dialog {
  border-top: 1px solid #212984;
}
.osano-cm-link {
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  .osano-cm-window__dialog {
    padding: 1.5rem 5rem;
  }
}

/* EDITOR */
.components-button.is-primary {
  background: var(
    --wp-components-color-accent,
    var(--wp-admin-theme-color, #007cba)
  );
}

.page-id-5 {
  .wp-block-embed-youtube {
    .wp-block-embed__wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Temp Nav */
@media only screen and (max-width: 1220px) and (min-width: 1024px) {
  .nav-parent-menu .nav-link {
    @apply text-[16px] px-sp-5;
    svg {
      @apply noshow;
    }
  }
  .nav-cta a {
    @apply text-[16px] px-sp-4;
  }
}

/* TEMP STYLES */

.text-\[14px\] {
  a {
    font-size: 14px;
    &:hover {
      @apply text-current;
    }
  }
}

/* .faq-block-text-updates .faq-block {
  p,
  ul,
  li,
  a {
    @apply !text-[14px] !leading-[1.1];
  }
} */

.swiper.swiper-careers-testimonial {
  .swiper-slide {
    @apply lg:w-[75%] w-[80%];
    /* .testing {
      @apply left-full absolute;
    } */
    .careers-testimonials-panel {
      /* display: none; */
    }
    &.swiper-slide-active {
      /* @apply w-[75%]; */
    }
    &.swiper-slide-next {
    }
    &.swiper-slide-prev {
    }
  }
}

/* Custom Select */
.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.00015 0.585785L9.00015 7.58579L16.0002 0.585785L17.4144 2L9.00015 10.4142L0.585937 2L2.00015 0.585785Z" fill="black"/></svg>')
    no-repeat;
  background-position: right 25px top 50%;
  padding-right: 64px;
  text-align: left;
}

/* Bullet */
ul.alert {
  li {
    list-style-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0, 6) scale(0.75)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.07324 15.9992C7.28192 19.8247 12.1736 21.1354 15.9992 18.9268C19.8247 16.7181 21.1354 11.8264 18.9268 8.00083C16.7181 4.17529 11.8264 2.86456 8.00083 5.07324C4.17529 7.28192 2.86456 12.1736 5.07324 15.9992ZM3.34119 16.9992C6.10215 21.7813 12.217 23.4198 16.9992 20.6588C21.7813 17.8978 23.4198 11.783 20.6588 7.00083C17.8978 2.21871 11.783 0.580229 7.00083 3.34119C2.21871 6.10215 0.580229 12.217 3.34119 16.9992Z' fill='%23161A3D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 13V7H13V13H11Z' fill='%23161A3D'/%3E%3Cpath d='M11 15H13V17H11V15Z' fill='%23161A3D'/%3E%3C/g%3E%3C/svg%3E");
  }
}
