.single-areas-of-care,
.single-treatment-modalities {
  .main-article-content {
    section {
      .acf-innerblocks-container {
        & > {
          img {
            @apply rounded-md;
          }
          figure {
            @apply mb-sp-6;
            @screen lg {
              @apply text-p-lg;
            }
          }
        }
      }
    }
  }
}

.testimonial-padding {
  @apply py-sp-8;
  @screen md {
    @apply py-sp-12;
  }
  @screen lg {
    @apply py-sp-16;
  }
}
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}
.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}
/* EDITOR */
/* .mce-content-body {
  a {
  }
} */

/* .fallback {
  @apply justify-end;
} */

/* Testimonial Block */
.swiper {
  &.swiper-testimonial {
    .swiper-wrapper {
      .swiper-slide {
        @apply opacity-30 transition-opacity duration-300;
        &.swiper-slide-active {
          @apply opacity-100;
        }
      }
    }
    .swiper-button-next-arrow,
    .swiper-button-prev-arrow {
      svg {
        rect {
          @apply transition-all duration-300;
        }
      }
      &:hover {
        svg {
          rect {
            @apply stroke-med-blue;
            stroke-opacity: 100;
          }
        }
      }
    }
    .swiper-pagination {
      @apply bg-card-border h-[2px];
      .swiper-pagination-progressbar-fill {
        @apply bg-med-blue;
      }
    }
  }
}

/* FAQ Accordion */
.faq-block,
.toc-container,
.references-container {
  .accordion-header,
  .toc-heading,
  .references-heading {
    &:hover {
      .toggle {
        svg {
          @apply -rotate-45;
        }
      }
    }
    .toggle {
      svg {
        @apply transition-transform duration-300;
      }
    }
    &.active {
      .toggle {
        svg {
          @apply rotate-45;
        }
      }
    }
  }
}

/* Card Grid */
.border-gradient {
  /* @apply before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:border before:border-transparent before:box-border; */
  /* mask-composite: exclude; */
  @apply flow-root relative;
  &:before {
    @apply absolute top-0 left-0 right-0 bottom-0 rounded-md border border-transparent pointer-events-none;
    content: '';
    background: linear-gradient(90deg, #eadaff, #a698ff) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

/* Remove bottom margin from last element in sections */
.acf-innerblocks-container,
#articleContent .container-sm {
  & > *:last-child {
    @apply mb-0;
  }
  /* TODO Maybe? */
  /* & > *:last-child:not(h1, h2, h3, h4, h5, h6) {
    @apply mb-0;
  } */
}

.divider {
  @apply h-[1px] bg-gradient-to-r from-purple-gradient-start to-purple-gradient-end;
}
/* Footer badges */
.badges {
  a {
    img {
      @apply aspect-square object-contain w-[100px];
    }
  }
}

.footer-links {
  & > {
    a {
      @apply text-white text-h5 no-underline mb-sp-3;
    }
  }
}

.nav-logo {
  svg {
    @apply max-w-full;
  }
}

.preserve-3d {
  transform-style: preserve-3d;
}
.translate-z {
  transform: translate3d(-50%, -50%, -1px);
}

.modal-fade {
  @apply opacity-0 invisible translate-y-sp-2;
  & > {
    * {
      @apply scale-95;
    }
  }
}
.paginationjs-pages {
  ul {
    @apply flex gap-sp-4 list-none p-0 m-0;
    li {
      @apply m-0 leading-none block;
      &.J-paginationjs-page {
        &:not(.active) {
          @apply opacity-60;
        }
      }
      a {
        @apply cursor-pointer;
      }
    }
  }
}
.js-tag-id {
  @apply transition-all duration-300 hover:bg-bright-teal;
  &.active {
    @apply bg-darkest-blue text-white;
  }
}

.custom-scroll {
  & > * {
    @apply mb-sp-6;
  }
  &::-webkit-scrollbar {
    @apply h-sp-2 cursor-pointer;
  }
  &::-webkit-scrollbar-track {
    @apply bg-tag-gray m-sp-5 cursor-pointer;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-hover-blue cursor-pointer;
  }
}
.custom-scroll-vertical {
  & > * {
    @apply mr-sp-6;
  }
  &::-webkit-scrollbar {
    @apply w-sp-2 cursor-pointer;
  }
  &::-webkit-scrollbar-track {
    @apply bg-tag-gray ml-sp-5 cursor-pointer;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-hover-blue cursor-pointer;
  }
}

.bg-noise {
  &-purple {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1400 1400' width='1400' height='1400' opacity='0.2'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='1.1' specularExponent='20' lighting-color='%23cccccc' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='77'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='1400' height='1400' fill='transparent'%3E%3C/rect%3E%3Crect width='1400' height='1400' fill='%23cccccc' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"),
      linear-gradient(90deg, #c6aff3, #e2d3ff);
  }
  &-blue {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1400 1400' width='1400' height='1400' opacity='0.2'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='1.1' specularExponent='20' lighting-color='%23cccccc' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='77'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='1400' height='1400' fill='transparent'%3E%3C/rect%3E%3Crect width='1400' height='1400' fill='%23cccccc' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"),
      linear-gradient(90deg, #161a3d, #262e6c);
  }
  &-orange {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1400 1400' width='1400' height='1400' opacity='0.2'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='1.1' specularExponent='20' lighting-color='%23cccccc' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='77'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='1400' height='1400' fill='transparent'%3E%3C/rect%3E%3Crect width='1400' height='1400' fill='%23cccccc' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"),
      linear-gradient(90deg, #e07058, #ff9f81);
  }
}
.tabs {
  @apply p-sp-4 duration-300 cursor-pointer;
  &.active {
    @apply opacity-100;
  }
  @apply opacity-30;
}
.tab-contents {
  @apply p-sp-4 duration-1000;
  &:nth-child(1) {
    @apply opacity-100;
  }
  &.active {
    @apply block;
  }
  @apply noshow opacity-0;
  & > {
    & * {
      &:last-child {
        @apply mb-0;
      }
    }
  }
}
.carousel-content {
  & > {
    & * {
      &:last-child {
        @apply mb-0;
      }
    }
  }
}

.wp-block-cover {
  @apply mb-sp-6 rounded-md;
  @screen lg {
    @apply text-p-lg;
  }
  img {
    @apply rounded-md;
  }
}

.wp-block-image {
  &.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    box-sizing: border-box;
    transform: translateX(calc(50vw - 50%));
    max-width: 1280px;
    @apply px-sp-5 lg:px-sp-10
    /* @apply inset-x-1/2 -mx-[50vw] relative w-[1280px]; */;
  }
}

/* FORM */
.fsForm {
  .fsRowBody input[type='checkbox']:before,
  .fsRowBody input[type='checkbox']:checked:before,
  .fsRowBody input[type='radio']:before,
  .fsRowBody input[type='radio']:checked:before {
    display: block;
  }
}
/* OSANO */
.osano-cm-widget {
  display: none;
}
.osano-cm-window__dialog {
  border-top: 1px solid #212984;
}
.osano-cm-link {
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  .osano-cm-window__dialog {
    padding: 1.5rem 5rem;
  }
}

.teens-and-young-adults {
  @apply bg-[#C6AFF3] hover:brightness-110 duration-300 text-white transition-all;
}
.families-and-caregivers {
  @apply bg-[#E07058] hover:brightness-110 duration-300 text-white transition-all;
}
.providers {
  @apply bg-[#161A3D] hover:brightness-110 duration-300 text-white transition-all;
}
.teens-and-young-adults-slider {
  @apply bg-[linear-gradient(90deg,#C6AFF3,#E2D3FF)];
}
.families-and-caregivers-slider {
  @apply bg-[linear-gradient(90deg,#E07058,#FF9F81)];
}
.providers-slider {
  @apply bg-[linear-gradient(90deg,#161A3D,#262E6C)];
}

.arrow-slider {
  .arrow-slider-bg {
    @apply fill-white duration-300 transition-all;
  }
  .arrow-slider-arrow {
    @apply fill-med-blue duration-300 transition-all;
  }
  &:hover {
    .arrow-slider-bg {
      @apply fill-med-blue;
    }
    .arrow-slider-arrow {
      @apply fill-white;
    }
  }
}
/* EDITOR */
.components-button.is-primary {
  background: var(
    --wp-components-color-accent,
    var(--wp-admin-theme-color, #007cba)
  );
}
